version: '3.8'
services:
  db:
    image: 'mysql:8.0'
    command: '--default-authentication-plugin=mysql_native_password'
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root}
      MYSQL_DATABASE: nortex_db
    ports:
      - '3306:3306'
    volumes:
      - 'mysql_data:/var/lib/mysql'

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root}
    ports:
      - '8081:80'
    depends_on:
      - db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - DATABASE_URL=mysql://root:${DB_ROOT_PASSWORD:-root}@db:3306/nortex_db
    depends_on:
      - db

volumes:
  mysql_data:
